@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Header  */

.header {
    background-color: #000;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header .container .logo h1 {
    color: #fff;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: max-content;
}

.profile-info a:hover {
    background-color: #000;
    color: #fff;
}

.profile-info a i {
    color: #fff;
    font-size: 30px;
    margin-top: 5px;
    height: max-content;
}

.profile-dropdown {
    display: none;
    background-color: #fff;
    position: absolute;
    min-height: max-content;
    min-width: max-content;
    top: 75px;
    right: 25px;
    z-index: 2;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.profile-dropdown.active {
    display: block;
}

.profile-dropdown-inner {
    display: flex;
    flex-direction: row;
}

.profile-dropdown-inner .div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.profile-dropdown-inner .div small {
    margin: 2.5px 0 0 0;
    width: max-content;
    cursor: pointer;
}

.profile-dropdown-inner .div #profileFullImg {
    height: 50px;
    width: 50px;
}

.profile-dropdown-inner .div2 a {
    display: flex;
    flex-direction: column;
    color: #000;
    padding: 5px 25px;
}

.profile-dropdown-inner a:hover {
    background-color: #000;
    color: #fff;
}

/* Main container  */

.body-container {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    min-height: 100vh;
}

.body-header {
    margin: 25px 0 0 116.5px;
}

.body-header.quiz {
    margin: 25px 0 0 116.5px;
}

.body-header.topics {
    margin: 5px 0 0 116.5px;
}

.body-container .card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #fff;
    height: max-content;
    padding: 0 2px 40px 2px;
    position: relative;
}

.card-wrapper .card.topics::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
}

.mainCard .card-wrapper,
.body-container .card-wrapper.quiz {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #fff;
    height: max-content;
    padding: 0 2px 0 2px;
}

.card-wrapper #quizBtn {
    padding: 20px 50px;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
}

.card-wrapper #quizBtn:hover {
    border: 1px solid #000;
    color: #000;
    background-color: #fff;
}

.card-wrapper .statistics {
    display: flex;
    margin: 0 0 20px 0;
    width: max-content;
}

.card-wrapper .statistics .statistics-inner .statistics-subheader {
    display: flex;
}

.card-wrapper .statistics .statistics-inner {
    display: flex;
    flex-direction: column;
}

.card-wrapper .statistics .statistics-inner.today {
    margin: 0 50px 0 0;
}

.card-wrapper .statistics .statistics-inner.total {
    margin: 0 0 0 50px;
}

.card-wrapper .statistics .statistics-inner .info-container {
    display: flex;
}

.info-container .score {
    margin: 5px 25px 5px 0;
    padding: 10px 25px;
    cursor: pointer;
    border: 2.5px solid #000;
}

.info-container .score:hover {
    background-color: #000;
    color: #fff;
}

.info-container .score.average {
    margin: 5px 0 5px 0;
}

.card {
    cursor: pointer;
    transition: transform ease .5s;
}

.card:hover {
    transform: translateY(-5px);
}

.card.quiz {
    height: 250px;
    width: 250px;
    margin: 20px 0 0 0;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card.topics {
    height: 150px;
    width: 150px;
    margin: 20px 0 0 0;
    overflow: hidden;
    position: relative;
}

.card.topics h4 {
    position: absolute;
    color: #fff;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bolder;
}

.mainCard {
    margin: 25px auto 45px auto;
    padding: 25px;
    height: max-content;
    width: max-content;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.mainCard.large {
    min-width: 650px;
    max-width: 650px;
}

.container.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: max-content;
    margin: 10px 0;
}

form .items input {
    margin: 5px 0;
    padding: 5px;
    font-size: 16px;
    width: 100%;
}

form .items textarea {
    margin: 5px 0;
    padding: 5px;
    font-size: 16px;
}

form .items.gender {
    margin: 10px 0;
}

form .items.gender input {
    margin-left: 5px;
}

form .items.gender label {
    margin: 5px 50px 0 0;
}

form .items.country,
.items.city {
    margin: 10px 0 0 0;
}

form .items select {
    margin: 5px 0;
    padding: 2.5px;
}

form .items.terms-condition input {
    margin-left: 5px;
}

button {
    margin: 10px 0;
    padding: 5px;
    border: 1.8px solid #000;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

button:hover {
    opacity: 0.5;
}

.content .loginRegister span {
    width: 100%;
    margin: 0 auto;
}

.label-username,
.label-email {
    display: flex;
    justify-content: space-between;
}

.question-header {
    margin: auto 5px;
    user-select: none;
}

.question-header h3 {
    width: 225px;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    /* border: 1px solid #000; */
    margin: 0 10px;
    /* margin: 15px 10px; */
    height: 75px;
}

.question-footer p {
    background-color: grey;
    color: #fff;
    padding: 1.5px 6.5px 3px 6.5px;
    border-radius: 5px;
}

h3 {
    user-select: none;
}

.options {
    padding: 5px 25px;
    /* border: 1px solid #000; */
}

.options ul li {
    margin: 10px 0;
}

.options ul li input,
.options ul li label {
    font-size: 18px;
    font-weight: 500;
}

.options ul li label {
    cursor: pointer;
    margin-left: 5px;
}

.attempt-list {
    margin: 2.5px 0;
    display: flex;
    justify-content: center;
}

.attempt-list p {
    user-select: none;
    border-bottom: 1px solid grey;

}

.attempt-list span {
    padding: 0 5px;
}

.nextBtn {
    display: flex;
    justify-content: center;
}

.profile-info-wrapper p {
    padding: 2.5px 0 0 0;
}

#changeProfilePicture {
    visibility: hidden;
}

#changeProfilePictureDiv {
    margin-top: 2.5px;
    margin-bottom: 0;
}

#changeProfilePictureDiv label {
    cursor: pointer;
    color: grey;
}

#changeProfilePictureDiv label:hover {
    color: #000;
}

#timeField,
#categoryField {
    user-select: none;
}

#timeField {
    margin-right: 15px;
}

.aboutUs p {
    width: 1000px;
}

.items p a {
    color: grey;

}

.items p a:hover {
    color: black;
}

.mainCard .blogImgMainCard {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 0 15px 0;
}

.admin-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.admin-body .setting-container {
    background-color: #fff;
    height: 75vh;
    width: 75%;
    overflow: hidden;
}

.admin-body .container {
    background-color: #fff;
    height: 82.5vh;
    width: 75%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


.admin-body .container-profile {
    background-color: #fff;
    height: 75vh;
    width: 75%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.admin-body .container-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin-body .container-profile .admin-profile {
    text-align: center;
}

.admin-body .container-profile .admin-profile img {
    border-radius: 50%;
    border: 2.5px solid grey;
}

#role {
    margin: 5px 0 .5px 0;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#role span {
    background-color: grey;
    color: #fff;
    padding: 2px 21px;
    font-size: 18px;
    font-weight: 575;
    border-radius: 7.5px;
}

#role span:hover {
    background-color: #000;
}

.admin-body .container .tab-container {
    display: flex;
    height: 100%;
}

.admin-body .container .tab-container .tabs {
    flex-basis: 25%;
    background-color: #000;
    color: #fff;
}

.admin-body .container .tab-container .tabs .button {
    padding: 15px 30px;
    cursor: pointer;
}

.admin-body .container .tab-container .tabs .button:hover {
    background-color: #fff;
    color: #000;
}

.admin-body .container .tab-container .tabs .button.active {
    background-color: #fff;
    color: #000;
}

.admin-body .container .tab-container .contents {
    flex-basis: 75%;
    position: relative;
    overflow: hidden;
}

.admin-body .container .tab-container .contents .content {
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translateY(100%);
    transition: transform .9s ease;
    height: 100%;
    width: 100%;
}

.admin-body .container .tab-container .contents .content.active {
    transform: translateY(0);
}

.admin-body .container .tab-container .contents .content h3 {
    padding: 15px 0;
}

/* Dashboard */

.admin-body .container .tab-container .contents .content .total-inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.admin-body .container .tab-container .contents .content .total-inner-container .total {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 60px;
    margin: 0 15px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Table */

.admin-body .container .tab-container .contents .content .table-inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
}

.admin-panel-table {
    margin: 0 10px;
    border-collapse: collapse;
    border: 1px solid #000;
}

.admin-panel-table th {
    background-color: #000;
    color: #fff;
    padding: 2.5px 7.5px;
}

.admin-panel-table td {
    padding: 5px;
}

/* Form  */

.admin-body .container .tab-container .contents .content .form-inner-container {
    padding: 0 225px;
}

.admin-body .container .tab-container .contents .content .form-inner-container h3 {
    text-align: center;
}

/* Footer  */

.footer {
    background-color: #000;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}

.copyright {
    color: #fff;
}

/* navbar  */

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar ul li {
    margin: 0 5px;
}

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-wrapper .profile {
    margin-left: 10px;
}

.navbar.social ul {
    display: flex;
    flex-direction: column;
}

/* Anchor tag  */

a {
    text-decoration: none;
    color: white;
}

/* Image tag  */
img {
    cursor: pointer;
}

/* Label tag  */

label {
    text-transform: capitalize;
}

/* Id selector  */

#profileImg {
    height: 30px;
    width: 30px;
    border-radius: 50px;
}

#blogImg {
    margin: 5px 5px 0 5px;
    height: 140px;
    width: 240px;
    object-fit: cover;
}

#topicImg {
    height: 100%;
    width: 100%;
}

/* All  */

a:hover {
    background-color: #fff;
    color: #000;
}

.success {
    color: green;
}

.error {
    color: red;
}


/* Media query  */

@media all and (max-width: 1100px) {
    .aboutUs p {
        width: 800px;
    }
}

@media all and (max-width: 900px) {
    .aboutUs p {
        width: 400px;
    }
}

/* user-select: none; */
/* pointer-events: none; */